<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách Tài khoản</title>
</head>
<body>
    <h1>Danh sách Tài khoản</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <!-- Các trường khác -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${accounts}">
             <td >1</td>
                <td th:text="${account.id}">1</td>
                <td th:text="${account.username}">Username</td>
                <td th:text="${account.email}">Email</td>
                <!-- Các trường khác -->
            </tr>
        </tbody>
    </table>
</body>
</html>
